
.create{
    position: absolute;
    top: 10%;
    right: 0%;
    height: 80vh;
    width: 80vw;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    form input[type= text]{
        height: 5vh;
        width: 40vw;
        margin-left: 15vw;
        padding-left: 2vw;
    }
    
    
    form textarea{
        margin-top: 4vh;
        height: 10vh;
        width: 40vw;
        padding: 2vw 2vh;
        margin-left: 15vw;  
    }
    
    form .addbtn{
        height: 3vw;
        width: 8vw;
        background-color: #FFBA00;
        margin-left: 30vw;
        margin-top: 4vh;
    }
    
    